<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.hro.minor.android.games"
    android:versionCode="3"
    android:versionName="3.11" 
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="nl.hro.minor.android.games.Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".lettergame.Game" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        
        <activity
            android:name=".pogo.GamePogo"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        
        <activity android:name=".pogo.ScoreScreen"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        
        <activity android:name=".differences.Game1" android:label="@string/app_name"> </activity>
        <activity android:name=".differences.MinigamesActivity" android:label="@string/app_name"> </activity>
        <activity android:name=".differences.Score" android:label="@string/app_name"> </activity>
        <activity android:name=".differences.HighScoreList" android:label="@string/app_name"> </activity>
        

    </application>

</manifest>